body[class*=-bio] {
  background:#F26E4B;
  background-image:url('./build/images/gonzalo-bio.png');
  background-repeat:no-repeat;
  background-position:120px bottom;
  background-size:50%;


    @include breakpoint(med) {
      background-position:left bottom;
      background-size:50%;

    }
    @include breakpoint(small) {
    background-position:center bottom;
    background-size:100%;
    }


}
section.bio{
  height:100%;
  color:white;
  overflow:hidden;
  padding: 100px 0;
  @include breakpoint(small) {
  padding:170px 0;
  position:fixed;
  top:0;
  bottom:0;
  background:rgba(black, .5);
  overflow:scroll;
  }



}

.one-right{
  width:30%;
  float:right;
  margin:0 150px 100px 100px;

  @include breakpoint(med) {
    width: 40%;

  }
  @include breakpoint(small) {
  width: 98%;
  margin:0 auto;
  float:none;
  }

}
