section.bio{
  height:750px;
  background:#F26E4B;
  background-image:url('/build/images/gonzalo-bio.jpg');
  background-repeat:no-repeat;
  background-position:200px 0;
  div{
    width:40%;
    color:white;
    float:right;
    margin:100px 150px 100px 100px;
  }

}
