.posts{
  width:60%;
  margin: 30px 50px;
  float:left;
  @include breakpoint(med) {
    width:90%;
    margin:0 5%;
    clear:both;


  }

}
article>footer{
  width:100%;
  font-size:.65em;
  font-style:italic;
  padding:1px 5px;
  background:$gray;
}
aside{
  width:30%;
  padding:2%;
  float:left;
  text-align:right;

  img{
    max-width:60%;
  }

  @include breakpoint(med) {
    width:90%;
    margin: 0 30px 0 150px;
    text-align:left;
    clear:both;
    img{
      max-width:30%;
    }

  }
  @include breakpoint(small) {
    width:90%;
    margin: 30px;

  }

}

ul{
  list-style:none;
  padding:0;
}

h3{
  border-bottom:1px solid $gray;
}
