.logo{
  font-size:1.2em;
  @include breakpoint(small) {
  font-size:.80em;
  margin:0 5px 0 0;
  }


}

.header{
  width:200px;
  position:fixed;
  background:rgba(black, .9);
  color:white;
  padding:15px;
  top:0;
  bottom:0;
  z-index:1;

  a{
    display:block;
    color:white;
    padding:5px 5px;
    margin:2em 5px;
  }
  a.social {padding:0; margin:0; display:inline-block;}

  @include breakpoint(med) {
    width: 130px;
    position:fixed;

  }

  @include breakpoint(small) {
    width: 100%;
    position:relative;

    nav{
      width:100%;
      margin:0 auto;
    }

    a{
      display:inline-block;
      color:white;
      padding:5px 0;
      margin:5px 5px 5px 0;
    }

  }

}

@mixin active-nav ($color) {
  border-left:3px solid $color;
}

body[class*=-homepage] a.home{
  @include active-nav ($orange)

}
body[class*=-bio] a.bio{
  @include active-nav ($red)
}
body[class*=-speaking] a.speaking{
  @include active-nav ($darkred)
}
body[class*='blog'] a.blog{
  @include active-nav ($yellow)
}
body[class*=-newsletter] a.newsletter{
  @include active-nav ($yellow)
}
body[class*=-contact] a.contact{
  @include active-nav ($yellow)
}
body[class*=-publish] a.publish{
  @include active-nav ($yellow)
}


a.menu-link {
        position:fixed;
        top:15px;
        right:20px;
    }
    nav[role=navigation] {
      clear: both;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
    .js nav[role=navigation] {
      overflow: hidden;
      max-height: 0;
    }
    nav[role=navigation].active {
      max-height: 50em;
    }
    nav[role=navigation] ul {
      margin: 0;
      padding: 0;

    }
    nav[role=navigation] li a {
      display: block;

    }

    @media screen and (min-width: 48.25em) {
      a.menu-link {
         display: none;
      }
      .js nav[role=navigation] {
        max-height: none;
      }
      nav[role=navigation] ul {
        margin: 0 0 0 -0.25em;
        border: 0;
      }

      nav[role=navigation]  li {
        display:block;
        margin: 0 0.25em;
      }
      nav[role=navigation] li a {
        border: 0;
      }
    }

    .symbol, a.symbol:before {
      font-size: 1.8em;
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

      a.symbol:before {
          content: attr(title);
          margin-right: 0.3em;
          font-size: 1.8em;
      }

      a.symbol {

          padding: 7px 5px 3px 5px;
          color: white;
          text-decoration: none;
      }
