section.intro{
  background:#FDB85B;
  background-image:url('/build/images/gonzalo-headshot.png');
  background-repeat:no-repeat;
  background-position:120px bottom;
  background-size:60%;
  height:100%;
  color:white;
  overflow:hidden;
  padding: 150px;

  img{
    max-width:40%;
    float:right;
  }

}
