
body[class*=-homepage] {
  background:#FDB85B;
  background-image:url('./build/images/gonzalo-headshot.png');
  background-repeat:no-repeat;
  background-position:120px bottom;
  background-size:50%;
  @include breakpoint(med) {
  background-position:left bottom;

  }

  @include breakpoint(small) {
  background-position:center bottom;
  background-size:100%;
  }
}

section.intro{
  color:white;
  overflow:hidden;
  padding: 150px;

  img{
    max-width:35%;
    float:right;
  }
  @include breakpoint(med) {
  padding: 100px;

  img{
    max-width:60%;
    float:right;
  }

  }
  @include breakpoint(small) {
    padding: 120px 0 0 0;
    position:fixed;
    top:0;
    bottom:0;
    text-align:center;
    background:rgba(black, .5);

    img{
      max-width:90%;
      float:none;
    }
  }


}
