section.intro{
  background:#FDB85B;
  background-image:url('/build/images/gonzalo-headshot.png');
  background-repeat:no-repeat;
  background-position:120px bottom;
  height:800px;
  color:white;
  overflow:hidden;
  padding: 150 0 0 150px;

  .headshot{
    width:50%;
    float:left;


  }
  .lettering{
    width:50%;
    float:left;
  }
}

.biggie{
  font-size:3em;
}
