.news{
  width:100%;
  background-image:url('/build/images/gonzalo-news.png');
  background-repeat:no-repeat;
  background-position:right bottom;
  background-size:35%;
  height:100%;
}
.form{
  width:40%;
  padding:2%;
}
