.media{
  padding: 2% 0;
  &:last-child{
    padding: 2% 0 0 0;
  }
}

article.talks{
  width:60%;
  margin:70px auto;


  h1{
    text-align:center;
  }
  small{
    font-style:italic;
    text-align:right;
    margin-bottom:2%;
  }
  img{
    max-width:500px;
  }

  @include breakpoint(small) {
    width:98%;
    p{
    padding:15px;
  }
    h2{
      padding:15px;
    }
    small{
    padding:15px;
    }
    img{
      padding:5px;
    }
  }

}

.grid{

  width:((100% - (2 * 2%))/ 3);
  float:left;
  margin-right:2%;
  margin-bottom:2%;

  &:nth-child(3n) {
    margin-right:0;
  }

  @include breakpoint(med) {
   width:48%;
   margin-right:2%;

   &:nth-child(3n) {
     margin-right:2%;
   }

  }

  @include breakpoint(small) {

    width:100%;
    margin-right:0;

  }

}
