.media{
  padding: 2% 0;
  &:last-child{
    padding: 2% 0 0 0;
  }
}

article.talks{
  width:60%;
  margin:70px auto;


  h1{
    text-align:center;
  }
  small{
    font-style:italic;
    text-align:right;
    margin-bottom:2%;
  }
  img{
    max-width:500px;
  }

  @include breakpoint(small) {
  width:98%;

  }

}
