@import "compass/css3";
@import "reset";
@import "bits";
@import "type";

.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; } /* For IE 6/7 (trigger hasLayout) */

a{
  color:$black;
}

@import "header";


section{
  width:100%;
  padding:0 0 0 200px;
}

.single{
  width:30%;
  float:right;
  margin:0 150px 100px 100px;
}

.double{
  width:50%;
  float:left;
}

@import "intro";
@import "bio";

@import "speaking";
@import "blog";
@import "contact";
@import "newsletter";
