

.icon{
  width:18%;
  float:left;
  margin:1%;
  padding:3% 0 0 0;
}
.description{
  width:80%;
  float:right;
}

article.charla{
  margin-top:3%;
}

.media{
  padding:2em;
}
.push{
  padding:150px 0 0 0;
}
