@import "compass/css3";

@import "data";

@import "reset";
@import "bits";
@import "type";

.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; } /* For IE 6/7 (trigger hasLayout) */

a{
  color:$black;
}

@import "header";


section{
  width:100%;
  padding:0 0 0 200px;
  position:relative;

  @include breakpoint(med) {
    padding:0 0 0 150px;

  }
}

@import "intro";
@import "bio";

@import "speaking";
@import "blog";
@import "contact";
@import "newsletter";

@import "landingpage";
